.UpComing{
    display: flex;
flex-wrap: wrap;
justify-content: center;
}


.upComing{
    width: 25%;
    margin: 20px 0;
}


h1{
    text-align: center;
}

.upComing img{
    box-shadow: 19px 18px 12px 6px limegreen;
}
